h2.huge-module__title=name
| Button Sizes
ul.huge-list--unstyled
  li.snippet
    each button in items
      .a(href='#', class="#{button.className}")=button.buttonName
      
br
| Racetrack Button Sizes
ul.huge-list--unstyled
  li.snippet
    each button in items2
      .a(href='#', class="#{button.className}")=button.buttonName
      
br
| Button Shapes
ul.huge-list--unstyled
  li.snippet
    each button in items3
      a(href='#', class="#{button.className}")=button.buttonName

br
| Solid Button
ul.huge-list--unstyled
  li.snippet
    each button in items4
      a(href='#', class="#{button.className}")=button.buttonName

br
| Button with Icon
ul.huge-list--unstyled
  li.button.button-icon.snippet
    a(href='#')
      i.fa.fa-plus.icon-left(aria-hidden='true')
      | Add

br
| Single Button Dropdown
.row
  .medium-3.column
    ul.huge-list--unstyled
      .dropdown
        button#dropdownMenuButton.button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Dropdown
        .dropdown-menu(aria-labelledby='dropdownMenuButton')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
//
  br
  | Split Button Dropdown
  .row
    .medium-3.column
      ul.huge-list--unstyled
        .button-group.ml-2
        button.button.button-normal(type='button') Split button
        button.button.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          span.sr-only Toggle Dropdown
        .dropdown-menu
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
          .dropdown-divider
          a.dropdown-item(href='#') Separated link
